button {
  background-color: #ffffff;
  border: 1px solid #888888;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #888888;
  transition: background-color 150ms;
  margin-right: 20px;
}

button:hover {
  background: #888888;
  color: #ffffff;
}
