.form-group{
    margin: 15px 0;

}

form .form-group:first-child{
margin-top: 0;
}

form .form-group:last-child{
margin-bottom: 0;
}

.form-group label,
.form-group input{
    display: block;
}

.form-group label{
    font-size: 0.9rem;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

}

.form-group input[type='text'],
.form-group input[type='password']{
    width: 300px;
    padding: 15px;
    border: 1px solid #212529;
  
    transition: background-color 150ms ;


}

.form-group input:hover{
background-color: rgba(237, 241, 243, 0.801);
}

.form-group input:focus{
    border: 2px solid  #4444aa;
}

.form-group input[type="checkbox"],
.form-group input[type="checkbox"] + label{
    display: inline-block;
}

form-group input.touched:invalid{
    border: 3px solid #f80101;
 
}

