.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal.hidden{
    display: none;
}


.modal .backdrop{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity:0.5;
    cursor: pointer;
}

.modal-content{
position: relative;
background-color: #ffffff;
border-radius: 8px;
padding: 16px;
}